<app-splash-screen *ngIf="splashVisible" (close)="splashVisible = false"></app-splash-screen>

<div id="app">
  <!-- left side social links -->
  <div [@content] class="social-contact">
    <ul class="bottom-line">
      <li class="mt-4 mb-4">
        <a href="https://twitter.com/smansoor321" aria-label="Twitter" target="_blank" rel="noreferrer">
          <svg xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-twitter">
            <title>Twitter</title>
            <path d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z"></path>
          </svg>
        </a>
      </li>
      <li class="mt-4 mb-4">
        <a href="http://www.github.com" target="_blank" class="github me-1 ms-1 cursor-pointer ng-tns-c16-0"><svg
            style="color: inherit;" width="30px" xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24"
            fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="p-color feather feather-github ng-tns-c16-0">
            <title class="ng-tns-c16-0">GitHub</title>
            <path
              d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"
              class="ng-tns-c16-0"></path>
          </svg></a>
      </li>
      <li class="mt-4 mb-4">
        <a href="https://www.linkedin.com/in/mansoor-soomro-9970a8127/" aria-label="Linkedin" target="_blank"
          rel="noreferrer" class="linkedin me-1 ms-1 cursor-pointer ng-tns-c16-0"><svg style="color: inherit;"
            width="30px" xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="p-color feather feather-linkedin">
            <title>LinkedIn</title>
            <path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"></path>
            <rect x="2" y="9" width="4" height="12"></rect>
            <circle cx="4" cy="4" r="2"></circle>
          </svg></a>
      </li>
    </ul>
  </div>

  <!-- right side email links -->
  <div [@content] class="email-contact bottom-line">
    <a class="no-a-style" href="mailto:mansoorsoomro1997@gmail.com">
      <span class="font-color">
        mansoorsoomro1997@gmail.com
      </span>
    </a>
  </div>

  <!-- header -->
  <app-header></app-header>

  <section id="app-content" class="container">
    <!-- introduction (first section) -->
    <div id="introduction" class="s-width mx-auto introduction d-flex justify-content-between align-items-center"
      [@list]>
      <div>
        <p class="item" style="color: var(--props-color)">Hi, my name is</p>
        <h2 class="fw-bold title-size item p-color">Mansoor Soomro.</h2>
        <h3 class="fw-bold title-size item s-color">I build things for the web.</h3>
        <p class="item" style="width: clamp(min(65ch, 100%), 50%, 75ch)">
          I am a Software Engineer with 2+ years of worth of experience in building and designing state of the art
          digital
          expereinces.
          Currently I am persuing my masters in Computer Science in
          <a class="anchor-p d-inline-block" target="_blank" href="https://www.uni-paderborn.de/en/">
            Universität Paderborn
          </a>
          and working as a software engineer in
          <a class="anchor-p d-inline-block" target="_blank" href="https://www.comnovo.de/en/">Comnovo</a>
        </p>
      </div>
    </div>

    <!-- about me seciton -->
    <div id="about" scrollAnimation class="margin-b-large p-width">
      <h2 class="p-color numbered-heading">About Me</h2>
      <div class="d-md-flex align-items-top">
        <div class="me-md-4 mb-3 mb-md-0">
          <ng-container *ngIf="introduction | async as intro">
            <p *ngFor="let para of toArr(intro?.about)">
              <!-- {{p}} -->
              <ng-container *ngFor="let p of toArr(para)">
                <ng-container *ngIf="isHyperLink(p); else description">
                  <a target="_blank" class="anchor-p" [href]="split(p)[1]">{{split(p)[0]}} </a>
                </ng-container>
                <ng-template #description>{{p}}</ng-template>
              </ng-container>
            </p>

            <div class="w-100 w-md-75">
              <ul class="list-style d-flex flex-wrap">
                <li class="w-50 mt-1 mb-1" *ngFor="let item of toArr(intro?.tech)">
                  {{item}}
                </li>
                <!-- <li class="w-50 mt-1 mb-1"></li>
                <li class="w-50 mt-1 mb-1">React</li>
                <li class="w-50 mt-1 mb-1">Angular</li>
                <li class="w-50 mt-1 mb-1">Node JS</li>
                <li class="w-50 mt-1 mb-1">.Net Core</li>
                <li class="w-50 mt-1 mb-1">Docker</li> -->
              </ul>
            </div>
          </ng-container>

          <!-- <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis placeat dicta veritatis, optio hic
            illo sed. Accusamus architecto non, sequi dolorem sapiente provident eaque nemo corporis cupiditate quae
            ducimus odio.</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores omnis corrupti quod ullam cum sunt
            mollitia beatae odio. Eius esse eveniet, eaque aut debitis voluptas? Culpa dolore cum iste fugit.</p>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias illum deleniti eligendi, quos assumenda
            quis quibusdam facilis distinctio maxime, atque at tempora suscipit laudantium, officiis cum provident
            exercitationem id similique.</p> -->

        </div>
        <div class="image">
          <img alt="mansoor" class="rounded mx-auto d-block" [src]="appUrl + '/assets/images/person.jfif'" alt="">
        </div>
      </div>
    </div>

    <!-- Work Experience -->
    <div id="experience" scrollAnimation class="tab p-width mx-auto margin-b-large">
      <h2 class="p-color numbered-heading">Experience and Education</h2>
      <ng-container *ngIf="experiences | async as experiences">
        <app-tablist>
          <app-tab *ngFor="let exp of experiences" [name]="exp.type">
            <!-- {{exp?.list | json}} -->
            <div class="mb-4" *ngFor="let p of exp?.list">
              <h4 class="s-color m-0">{{p.profession}} <a [href]="p.companyUrl" target="_blank"
                  class="anchor-p cursor-pointer">@{{p.company}}</a> </h4>
              <span class="mb-3 d-inline-block"> {{p.from}} - {{p.to}} </span>

              <ul class="list-style">
                <li class="mb-2" *ngFor="let para of toArr(p?.responsibilites)">
                  <ng-container *ngFor="let p of toArr(para)">
                    <ng-container *ngIf="isHyperLink(p); else description">
                      <a target="_blank" class="anchor-p" [href]="split(p)[1]">{{split(p)[0]}} </a>
                    </ng-container>
                    <ng-template #description>{{p}}</ng-template>
                  </ng-container>
                </li>
              </ul>
              <!-- <p *ngFor="let para of toArr(p?.responsibilites)">
              </p> -->
            </div>
          </app-tab>
        </app-tablist>
      </ng-container>
    </div>

    <!-- Porject section -->
    <div id="work" class="work s-width mx-auto margin-b-large">
      <h2 scrollAnimation class="p-color numbered-heading">Projects</h2>
      <ul class="margin-b-medium">
        <ng-container *ngFor="let project of (projects | async)">
          <li *ngIf="project.featured" scrollAnimation>
            <div (click)="openInNewTab(project.image)" class="h-100">
              <!-- <span class="p-color">{{project.image. | json}}</span> -->
              <img [alt]="project.image" class="w-100 h-100" [src]="project.image">
            </div>
            <div>
              <div class="title mb-3">
                <p class="t-color mb-1">Featured Project</p>
                <h4 class="s-color m-0">{{ project.title }}</h4>
              </div>
              <div class="p-3 mt-1 mb-2 rounded text">
                {{ project?.description }}
              </div>
              <ul class="ms-2 mt-1 mb-1 overflow-visible">
                <li *ngFor="let item of project?.techstack" class="text d-inline-block me-2">{{item}}</li>
              </ul>
              <div class="project-links mt-1 mb-1">
                <a *ngIf="project?.githuburl" class="github me-1 ms-1 cursor-pointer" [href]="project?.githuburl"
                  target="_blank">
                  <svg class="t-color" width="20px" xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24"
                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="p-color feather feather-github">
                    <title>GitHub</title>
                    <path
                      d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22">
                    </path>
                  </svg>
                </a>
              </div>
            </div>
          </li>
        </ng-container>

        <!-- <li scrollAnimation>
          <div class="h-100">
            <img class="w-100 h-100"
              src="https://www.lightstalking.com/wp-content/uploads/backlit-beach-color-258109-3-1024x576.jpg" alt="">
          </div>
          <div>
            <div class="title mb-3">
              <p class="t-color mb-1">Featured Project</p>
              <h5 class="s-color m-0">Theme</h5>
            </div>
            <div class="p-3 mt-1 mb-2 rounded text">
              this is the content that i have here. the techs that were used you can alreay see if you cant than you
              are dumb please get an eye check.
            </div>
            <ul class="ms-2 mt-1 mb-1 overflow-visible">
              <li class="text d-inline me-2">VS Code</li>
              <li class="text d-inline me-2 ms-2">Dot NEt</li>
            </ul>
            <div class="project-links mt-1 mb-1">
              <a class="github me-1 ms-1 cursor-pointer" href="http://www.github.com" _target="blank">
                <svg width="20px" xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24" fill="none"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                  class="p-color feather feather-github">
                  <title>GitHub</title>
                  <path
                    d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22">
                  </path>
                </svg>
              </a>
            </div>
          </div>
        </li> -->
      </ul>

      <!-- this div is a place holder to get the position of the element. -->
      <!-- [scrollDisable]="i <= initP - 1 ? false : true" -->
      <div>
        <div class="other-project">
          <h2 class="text-center p-color mb-3">Other Projects</h2>
          <!-- #otherProjects -->
          <div #element></div>
          <div *ngIf="projects | async as list" class="mx-auto">
            <ng-container *appearOnScroll="element">
              <ng-container
                *ngFor="let item of list | slice:findIndex(list, 'featured'):findIndex(list, 'featured') + p; let i = index">
                <div *ngIf="!item.featured" scrollAnimation [delay]="i <= initP - 1 ? i * 100 : (i - initP) * 100"
                  [scrollDisable]="true" class="element d-flex justify-content-between flex-column">
                  <div>
                    <div class="d-flex justify-content-between mb-4 align-items-center">
                      <div class="folder">
                        <svg style="width: 40px" xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24"
                          fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round"
                          stroke-linejoin="round" class="t-color feather feather-folder">
                          <title>Folder</title>
                          <path d="M22 19a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h5l2 3h9a2 2 0 0 1 2 2z"></path>
                        </svg>
                      </div>
                      <div class="icons">
                        <a *ngIf="item?.liveurl" class="github me-2 cursor-pointer" [href]="item?.liveurl"
                          target="_blank">
                          <svg style="width: 28px" width="20px" xmlns="http://www.w3.org/2000/svg" role="img"
                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round"
                            class="feather feather-external-link p-color">
                            <title>External Link</title>
                            <path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path>
                            <polyline points="15 3 21 3 21 9"></polyline>
                            <line x1="10" y1="14" x2="21" y2="3"></line>
                          </svg>
                        </a>
                        <a *ngIf="item?.githuburl" class="github me-2 ms-2 cursor-pointer" [href]="item?.githuburl"
                          target="_blank">
                          <svg style="width: 28px" width="20px" xmlns="http://www.w3.org/2000/svg" role="img"
                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round" class="p-color feather feather-github">
                            <title>GitHub</title>
                            <path
                              d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22">
                            </path>
                          </svg>
                        </a>
                      </div>
                    </div>
                    <h4 class="s-color">
                      {{ item.title }}
                    </h4>
                    <p>
                      <ng-container *ngFor="let d of toArr(item?.description)">
                        <ng-container *ngIf="isHyperLink(d); else description">
                          <a target="_blank" class="anchor-p" [href]="split(d)[1]">{{split(d)[0]}} </a>
                        </ng-container>
                        <ng-template #description>{{d}}</ng-template>
                      </ng-container>
                    </p>
                  </div>
                  <ul>
                    <li *ngFor="let tech of item?.techstack" class="text d-inline me-2"><small>{{tech}}</small></li>
                    <!-- <li class="text d-inline me-2 ms-2"><small>Dot Net</small></li>
                    <li class="text d-inline me-2 ms-2"><small>Rest Api</small></li> -->
                    <!-- <li *ngFor="let item of list?.techstack" class="text d-inline ms-2"> {{ item }} </li> -->
                  </ul>
                </div>
              </ng-container>
            </ng-container>
          </div>
        </div>

        <ng-container *ngIf="(projects | async) as list">
          <ng-container *ngIf="filterUnfeaturedItems(list).length > initP">
            <button *ngIf="p < 10000" (click)="p = 10000;" class="p-button mt-5 mb-5 mx-auto d-block">Show More</button>
            <button *ngIf="p === 10000" (click)="p = initP;" class="p-button mt-5 mb-5 mx-auto d-block">Show
              Less</button>
          </ng-container>
        </ng-container>


      </div>

    </div>
  </section>

  <!-- Contact section (footer steps) -->
  <footer id="contact" scrollAnimation class="p-width container margin-t-large margin-b-large text-center">
    <h2 class="mb-3">Get In Touch</h2>
    <p class="mx-auto w-md-25">I am always looking for new opportunities and
      my inbox is always
      open. Wheather you have a
      question or just want to say hi, I'll try my best to get back to you!</p>
    <a class="no-a-style" href="mailto:mansoorsoomro1997@gmail.com">
      <button class="p-button">Say Hello </button>
    </a>
  </footer>

</div>
